{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<h1>Sign Up !</h1>

    {{form_start(loginForm)}}
        {{form_widget(loginForm)}}
    {{form_end(loginForm)}}
{% endblock %}



