{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<h1>Sign Up !</h1>

    {{form_start(signUpForm)}}
        {{form_widget(signUpForm)}}
        {% include "commons/formButtons.html.twig" %}
    {{form_end(signUpForm)}}
{% endblock %}



