{% extends 'base.html.twig' %}


{% block body %}


{% if profile %}
    {% include "commons/profile.html.twig" %}
    {% include "commons/contact.html.twig" %}
{% endif %}



{% if skills %}
    <div class="row bg-white responsive-padding border rounded mb-3">
        {% include "commons/skill.html.twig" %}
    </div>
{% endif %}


{% if realisations %}
    <div class="row bg-white responsive-padding border rounded mb-3">
        <div class="mb-4">
            <h3 class="text-uppercase title-margin"><span class="bg-dark text-white p-2">Réalisations</span></h3>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            {% for realisation in realisations %}
               {% include "commons/realisation.html.twig" %}
            {% endfor %}
        </div>
    </div><!--/row:bloc-realisation-->
{% endif %}


{% if formations %}
    <div class="row bg-white responsive-padding border rounded mb-3">
        <div class="mb-4">
            <h3 class="text-uppercase title-margin"><span class="bg-dark text-white p-2">Formations</span></h3>
        </div>
        {% for formation in formations %}
            {% include "commons/formation.html.twig" %}
        {% endfor %}
    </div>
{% endif %}


{% if languages %}
    <div class="row bg-white responsive-padding border rounded mb-3">
        {% include "commons/language.html.twig" %}
    </div>
{% endif %}





{% endblock %}

{% block javascripts %}
    <script>
        var target = document.querySelectorAll('.details-icon');
        for (let i = 0; i < target.length; i++) {
            //var name = target[i].dataset.name;
            target[i].addEventListener("click", function(){
            var name = this.dataset.name;
            alert(name)
            });
        }
    </script>
{% endblock %}