<div class="row bg-white responsive-padding border rounded mb-3">
    <div class="mb-4">
        <h3 class="text-uppercase title-margin"><span class="bg-dark text-white p-2">Formations</span></h3>
    </div>
    <div class="formation mb-5">
        <h5 class="fw-bold">Developpeur d'application Php / Symfony</h5>
        <p class="fw-bold pl-2">En cours, OpenClassRooms</p>
        <p class="pl-2">À partir du cahier des charges, développer et tester les fonctionnalités du site et en assurer le support.</p>
        <!--<a class="btn btn-dark pl-2" href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony" target="blank_">Aller vers OpenClassRooms</a>-->
        <div class="row p-3 rounded border border-1 bg-dark text-white" id="closable-openclassrooms-info">
            <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn-close btn-close-white js-close" aria-label="Close" data-target="closable-openclassrooms-info"></button>
            </div>
            <p class="text-center">Formation en alternance de douze mois à raison de quatre jours travaillés pour une journée d'étude.</p>
            <a href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony" target="_blank" class="btn btn-light text-dark">Se rendre sur OpenClassRooms</a>
        </div>
    </div>
    <div class="formationmb-5">
        <h5 class="fw-bold">Baccalauréat Sciences et Techniques de gestion</h5>
        <p class="pl-2 fw-bold">2010, St-Esprit, Beauvais (60)</p>
        <p class="pl-2">Initiation aux techniques de vente, de communication et de marketing physique et numérique.</p>
    </div>
</div><!--/row:bloc-formation-->
