<div class="mb-4">
    <h3 class="text-uppercase title-margin">
        <span class="bg-dark text-white p-2">Langues</span>
    </h3>
    <div class="row mt-4">
        {% for language in languages %}
            <div class="col-lg-6">
                <div>{{language.name}}</div>
                <div class="progress">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{language.level}}%;" aria-valuenow="{{language.level}}" aria-valuemin="0" aria-valuemax="100">{{language.level}}%</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>