{% extends "base.html.twig" %}

{% block body %}
    <div class="row bg-white responsive-padding border rounded mb-3">
        <div class="mb-4">
            <h3 class="text-uppercase title-margin"><span class="bg-dark text-white p-2">Modifier {{skill.name}}</span></h3>
        </div>
        {{form_start(editSkillForm)}}
            {{form_widget(editSkillForm)}}
            {% include "commons/formButtons.html.twig" %}
        {{form_end(editSkillForm)}}
    </div>
{% endblock %}